In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import json
import urllib.request

In [2]:
df_equipes=pd.DataFrame()
df_points=pd.DataFrame()

## Nettoyage du html pour récupérer les noms et les scores

In [3]:
def recup(equipe,points):
    liste_pts=[]
    liste_equipe=[]
    for row in points:
        val=row.text
        val=val.replace(" ","")
        val=val.replace("\r","")
        val=val.replace("\n","")
        liste_pts.append(int(val))
    
    for row in equipe:
    
        val=row.text
        val=val.replace(" ","")
        val=val.replace("\r","")
        val=val.replace("\n","")
        if val !='City':
            liste_equipe.append(val)
    
    return liste_equipe,liste_pts

## Parcours du html du site

In [4]:
from bs4 import BeautifulSoup
import re
semaine="52"
annee="2014"
index=0
while (index <= 900):
    # L'index représente le nombre d'équipes (le classement)
    #url = "https://www.clubworldranking.com/francais/classement-clubs/wd/"+semaine+"/yr/"+annee+"/index/"+str(index)
    url = "https://www.clubworldranking.com/ranking-clubs/wd/"+semaine+"/yr/"+annee+"/index/"+str(index)

    html = urllib.request.urlopen(url)

    soup = BeautifulSoup(html, 'lxml')

    points= soup.find_all("div", {"class":"points RankingRight"})
    equipe= soup.find_all("div", {"class":"col-name lineheigt"})
    
    liste_eq,liste_pts=recup(equipe,points)
    df_eq=pd.DataFrame(liste_eq)
    df_eq.columns=["Equipe"]
    df_pts=pd.DataFrame(liste_pts)
    df_pts.columns=["Points"]
    
    df_equipes=pd.concat([df_equipes,df_eq])
    df_points=pd.concat([df_points,df_pts])
    
    # Une page du site possède 25 équipe à la fois
    index=index+25

In [5]:
df=pd.concat([df_equipes,df_points],axis=1)
df2=pd.DataFrame()
df2=df2.append(df,ignore_index=True)
df2.head()

           Equipe  Points
0      RealMadrid   20082
1   BayernMünchen   14813
2  AtléticoMadrid   14705
3       Barcelona   14422
4         Benfica   11177

## Enregistrement

In [6]:
df2.to_csv(r"Points_Equipe_Hist/Points_Equipes"+annee+".csv", sep=";", encoding='utf-8')