In [22]:
import http.client
import json
import pandas as pd
import datetime
import numpy as np

## Récupération des données de matchs

In [23]:
connection = http.client.HTTPConnection('api.football-data.org')
headers = { 'X-Auth-Token': '52209beef1bc4a4e8b08fbf89163915f' }

connection.request('GET', 'https://api.football-data.org/v2/competitions/FL1/matches', None, headers )
matchs_fr = json.loads(connection.getresponse().read().decode())
connection.request('GET', 'https://api.football-data.org/v2/competitions/CL/matches', None, headers )
matchs_cl = json.loads(connection.getresponse().read().decode())
connection.request('GET', 'https://api.football-data.org/v2/competitions/PL/matches', None, headers )
matchs_eng = json.loads(connection.getresponse().read().decode())
connection.request('GET', 'https://api.football-data.org/v2/competitions/PD/matches', None, headers )
matchs_esp = json.loads(connection.getresponse().read().decode())
connection.request('GET', 'https://api.football-data.org/v2/competitions/SA/matches', None, headers )
matchs_ita = json.loads(connection.getresponse().read().decode())

In [24]:
df_fr=pd.DataFrame(matchs_fr['matches'])
df_cl=pd.DataFrame(matchs_cl['matches'])
df_eng=pd.DataFrame(matchs_eng['matches'])
df_esp=pd.DataFrame(matchs_esp['matches'])
df_ita=pd.DataFrame(matchs_ita['matches'])

columns=['id','utcDate','status','score','homeTeam','awayTeam']

fr_names=df_fr[columns]
cl_names=df_cl[columns]
eng_names=df_eng[columns]
esp_names=df_esp[columns]
ita_names=df_ita[columns]

df_matchs=pd.DataFrame(columns=['id','utcDate','status','score','homeTeam','awayTeam'])
df_matchs=df_matchs.append(fr_names,ignore_index=True)
df_matchs=df_matchs.append(eng_names,ignore_index=True)
df_matchs=df_matchs.append(esp_names,ignore_index=True)
df_matchs=df_matchs.append(ita_names,ignore_index=True)
df_matchs=df_matchs.append(cl_names,ignore_index=True)
#df_matchs=df_matchs.drop_duplicates()
df_matchs

,id,utcDate,status,score,homeTeam,awayTeam
0,267926,2019-08-09T18:45:00Z,FINISHED,"{'winner': 'AWAY_TEAM', 'duration': 'REGULAR',...","{'id': 548, 'name': 'AS Monaco FC'}","{'id': 523, 'name': 'Olympique Lyonnais'}"
1,267922,2019-08-10T15:30:00Z,FINISHED,"{'winner': 'AWAY_TEAM', 'duration': 'REGULAR',...","{'id': 516, 'name': 'Olympique de Marseille'}","{'id': 547, 'name': 'Stade de Reims'}"
2,267919,2019-08-10T18:00:00Z,FINISHED,"{'winner': 'AWAY_TEAM', 'duration': 'REGULAR',...","{'id': 518, 'name': 'Montpellier HSC'}","{'id': 529, 'name': 'Stade Rennais FC 1901'}"
3,267923,2019-08-10T18:00:00Z,FINISHED,"{'winner': 'HOME_TEAM', 'duration': 'REGULAR',...","{'id': 522, 'name': 'OGC Nice'}","{'id': 530, 'name': 'Amiens SC'}"
4,267924,2019-08-10T18:00:00Z,FINISHED,"{'winner': 'DRAW', 'duration': 'REGULAR', 'ful...","{'id': 512, 'name': 'Stade Brestois 29'}","{'id': 511, 'name': 'Toulouse FC'}"
...,...,...,...,...,...,...
1718,285539,2020-03-11T20:00:00Z,FINISHED,"{'winner': 'AWAY_TEAM', 'duration': 'EXTRA_TIM...","{'id': 64, 'name': 'Liverpool FC'}","{'id': 78, 'name': 'Club Atlético de Madrid'}"
1719,285535,2020-08-07T00:00:00Z,SCHEDULED,"{'winner': None, 'duration': 'REGULAR', 'fullT...","{'id': 65, 'name': 'Manchester City FC'}","{'id': 86, 'name': 'Real Madrid CF'}"
1720,285543,2020-08-07T00:00:00Z,SCHEDULED,"{'winner': None, 'duration': 'REGULAR', 'fullT...","{'id': 109, 'name': 'Juventus FC'}","{'id': 523, 'name': 'Olympique Lyonnais'}"
1721,285541,2020-08-08T00:00:00Z,SCHEDULED,"{'winner': None, 'duration': 'REGULAR', 'fullT...","{'id': 5, 'name': 'FC Bayern München'}","{'id': 61, 'name': 'Chelsea FC'}"
1722,285547,2020-08-08T00:00:00Z,SCHEDULED,"{'winner': None, 'duration': 'REGULAR', 'fullT...","{'id': 81, 'name': 'FC Barcelona'}","{'id': 113, 'name': 'SSC Napoli'}"

## On garde les matchs terminés pour l'apprentissage

In [25]:
df_finished=df_matchs.loc[df_matchs["status"]=="FINISHED"]
df_finished[1140:1150]

,id,utcDate,status,score,homeTeam,awayTeam
1375,279462,2020-02-16T14:00:00Z,FINISHED,"{'winner': 'AWAY_TEAM', 'duration': 'REGULAR',...","{'id': 584, 'name': 'UC Sampdoria'}","{'id': 99, 'name': 'ACF Fiorentina'}"
1376,279465,2020-02-16T14:00:00Z,FINISHED,"{'winner': 'AWAY_TEAM', 'duration': 'REGULAR',...","{'id': 471, 'name': 'US Sassuolo Calcio'}","{'id': 112, 'name': 'Parma Calcio 1913'}"
1377,279463,2020-02-16T17:00:00Z,FINISHED,"{'winner': 'AWAY_TEAM', 'duration': 'REGULAR',...","{'id': 104, 'name': 'Cagliari Calcio'}","{'id': 113, 'name': 'SSC Napoli'}"
1378,279458,2020-02-16T19:45:00Z,FINISHED,"{'winner': 'HOME_TEAM', 'duration': 'REGULAR',...","{'id': 110, 'name': 'SS Lazio'}","{'id': 108, 'name': 'FC Internazionale Milano'}"
1379,279459,2020-02-17T19:45:00Z,FINISHED,"{'winner': 'HOME_TEAM', 'duration': 'REGULAR',...","{'id': 98, 'name': 'AC Milan'}","{'id': 586, 'name': 'Torino FC'}"
1380,279474,2020-02-21T19:45:00Z,FINISHED,"{'winner': 'AWAY_TEAM', 'duration': 'REGULAR',...","{'id': 449, 'name': 'Brescia Calcio'}","{'id': 113, 'name': 'SSC Napoli'}"
1381,279472,2020-02-22T14:00:00Z,FINISHED,"{'winner': 'DRAW', 'duration': 'REGULAR', 'ful...","{'id': 103, 'name': 'Bologna FC 1909'}","{'id': 115, 'name': 'Udinese Calcio'}"
1382,279476,2020-02-22T17:00:00Z,FINISHED,"{'winner': 'AWAY_TEAM', 'duration': 'REGULAR',...","{'id': 1107, 'name': 'SPAL 2013'}","{'id': 109, 'name': 'Juventus FC'}"
1383,279468,2020-02-22T19:45:00Z,FINISHED,"{'winner': 'DRAW', 'duration': 'REGULAR', 'ful...","{'id': 99, 'name': 'ACF Fiorentina'}","{'id': 98, 'name': 'AC Milan'}"
1384,279473,2020-02-23T11:30:00Z,FINISHED,"{'winner': 'AWAY_TEAM', 'duration': 'REGULAR',...","{'id': 107, 'name': 'Genoa CFC'}","{'id': 110, 'name': 'SS Lazio'}"

### On numérise les données afin de pouvoir les analyser

### Victoires / Défaites consecutives

In [26]:
def recupDate(x):
    annee=x[0:4]
    mois=x[5:7]
    jour=x[8:10]
    date=datetime.datetime(int(annee),int(mois),int(jour))
    return date

### Récupération du nom de chaque équipe

In [27]:
def recupTeam(x):
    string=str(x)
    chaine=("'name': ")
    long=len(chaine)
    result=string.find(chaine)
    if result>-1:
        debut=result+long
        i=0
        name=""
        while i==0:
            if string[debut]=='}':
                i=1
                break
            name=name+string[debut]
            debut+=1
    name=name.replace("'","") 
    return name

### Récupération de l'id de chaque équipe

In [28]:
def recupId(x):
    string=str(x)
    chaine=("'id': ")
    long=len(chaine)
    result=string.find(chaine)
    if result>-1:
        debut=result+long
        i=0
        ident=""
        while i==0:
            if string[debut]==',':
                i=1
                break
            ident=ident+string[debut]
            debut+=1
    ident=ident.replace(" ","") 
    return ident

### Récupération du résultat du match

In [29]:
def winner(score):
    string=str(score)
    chaine=("'winner':")
    long=len(chaine)
    result=string.find(chaine)
    if result>-1:
        debut=result+long
        i=0
        winner=""
        while i==0:
            if string[debut]==',':
                i=1
                break
            winner=winner+string[debut]
            debut+=1
    if (winner==" 'DRAW'"):
        winner=0            
    if (winner==" 'HOME_TEAM'"):
        winner=1
    if (winner==" 'AWAY_TEAM'"):
        winner=2
    if (winner==" None"):
        winner=None
    
    return winner

### Récupération du nombre de buts à la mi-temps et à la fin du match

In [30]:
def goal_time(score,nb):
    string=str(score)
    if nb==1:
        chaine=("'halfTime': {")
    if nb==2:
        chaine=("'fullTime': {")
    long=len(chaine)
    half=string.find(chaine)
    if half>-1:
        debut=half+long
        i=0
        goalHomeTeam=""
        while i==0:
            if string[debut]=='}':
                i=1
                break
            goalHomeTeam=goalHomeTeam+string[debut]
            debut+=1
    test=goalHomeTeam.split(",")
    goalHomeTeam=test[0].replace("'homeTeam': ","") 
    goalAwayTeam=test[1].replace(" 'awayTeam': ","")
    return goalHomeTeam, goalAwayTeam

### Comptage des victoires et défaites consécutives

In [31]:
def compte_win(df_verif,name):
    win_cons=0
    for index, row in df_verif.iterrows():
        home=row["homeTeam"]
        away=row["awayTeam"]
        score=row["score"]
        if ((home==name) and (score==1)):
            win_cons+=1
        if ((away==name) and (score==2)):
            win_cons+=1
        if ((home==name) and (score==2)):
            win_cons=0
        if (((away==name) and (score==1)) or (score==0)):
            win_cons=0
    return win_cons



def compte_lose(df_verif,name):
    lose_cons=0
    for index, row in df_verif.iterrows():
        home=row["homeTeam"]
        away=row["awayTeam"]
        score=row["score"]
        if ((home==name) and (score==2)):
            lose_cons+=1
        if ((away==name) and (score==1)):
            lose_cons+=1
        if ((home==name) and (score==1)):
            lose_cons=0
        if (((away==name) and (score==2)) or (score==0)):
            lose_cons=0
    return lose_cons

In [32]:
def victoire_consecutives(x,df):
    date=x['date']
    anterieur=df.loc[df['date']< date]    
    home=x["homeTeam"]
    away=x["awayTeam"]
    nb_home=0
    nb_away=0
    if(anterieur.empty): 
        return nb_home,nb_away 
    else:
        verifHome=anterieur.loc[anterieur['homeTeam']==home]
        verifHome2=anterieur.loc[anterieur['awayTeam']==home]
        
        verifAway=anterieur.loc[anterieur['homeTeam']==away]
        verifAway2=anterieur.loc[anterieur['awayTeam']==away]
        
        df_verif=pd.concat([verifHome,verifHome2])
        df_verif=df_verif.sort_values(by = 'date')
        
        df_verif2=pd.concat([verifAway,verifAway2])
        df_verif2=df_verif2.sort_values(by = 'date')
        
        if (df_verif.empty):
                nb_home=-1
        else:
            nb_home=compte_win(df_verif,home)
        
        if(df_verif2.empty):
            nb_away=-1
        
        else:
            nb_away=compte_win(df_verif2,away)
        
    return nb_home,nb_away

In [33]:
def defaites_consecutives(x,df):
    date=x['date']
    anterieur=df.loc[df['date']< date]    
    home=x["homeTeam"]
    away=x["awayTeam"]
    nb_home=0
    nb_away=0
    if(anterieur.empty): 
        return nb_home,nb_away 
    else:
        verifHome=anterieur.loc[anterieur['homeTeam']==home]
        verifHome2=anterieur.loc[anterieur['awayTeam']==home]
        
        verifAway=anterieur.loc[anterieur['homeTeam']==away]
        verifAway2=anterieur.loc[anterieur['awayTeam']==away]
        
        df_verif=pd.concat([verifHome,verifHome2])
        df_verif=df_verif.sort_values(by = 'date')
        
        df_verif2=pd.concat([verifAway,verifAway2])
        df_verif2=df_verif2.sort_values(by = 'date')
        
        if (df_verif.empty):
                nb_home=-1
        else:
            nb_home=compte_lose(df_verif,home)
        
        if(df_verif2.empty):
            nb_away=-1
        
        else:
            nb_away=compte_lose(df_verif2,away)
        
    return nb_home,nb_away

## Attribution des données au dataframe final

In [34]:
df_final=pd.DataFrame()
df_final['id_match']=df_finished['id']
df_final['date']=df_finished['utcDate'].apply(lambda x: recupDate(x))
df_final['idHomeTeam']=df_finished['homeTeam'].apply(lambda x: recupId(x))
df_final['idAwayTeam']=df_finished['awayTeam'].apply(lambda x: recupId(x))
df_final['homeTeam']=df_finished['homeTeam'].apply(lambda x: recupTeam(x))
df_final['awayTeam']=df_finished['awayTeam'].apply(lambda x: recupTeam(x))
df_final['score']=df_finished['score'].apply(lambda x: winner(x))
df_final['goalHomeTeam_HalfTime'], df_final['goalAwayTeam_HalfTime']=zip(*df_finished['score']
                                                                       .apply(lambda x: goal_time(x,1)))
df_final['goalHomeTeam_FullTime'], df_final['goalAwayTeam_FullTime']=zip(*df_finished['score']
                                                                       .apply(lambda x: goal_time(x,2)))
df_final['win_cons_home'], df_final['win_cons_away']=zip(*df_final.apply(lambda x: victoire_consecutives(x,df_final),axis=1))
df_final['lose_cons_home'], df_final['lose_cons_away']=zip(*df_final.apply(lambda x: defaites_consecutives(x,df_final),axis=1))
df_final.head()

,id_match,date,idHomeTeam,idAwayTeam,homeTeam,awayTeam,score,goalHomeTeam_HalfTime,goalAwayTeam_HalfTime,goalHomeTeam_FullTime,goalAwayTeam_FullTime,win_cons_home,win_cons_away,lose_cons_home,lose_cons_away
0,267926,2019-08-09,548,523,AS Monaco FC,Olympique Lyonnais,2.0,0,2,0,3,-1,-1,-1,-1
1,267922,2019-08-10,516,547,Olympique de Marseille,Stade de Reims,2.0,0,0,0,2,-1,-1,-1,-1
2,267919,2019-08-10,518,529,Montpellier HSC,Stade Rennais FC 1901,2.0,0,1,0,1,-1,-1,-1,-1
3,267923,2019-08-10,522,530,OGC Nice,Amiens SC,1.0,1,0,2,1,-1,-1,-1,-1
4,267924,2019-08-10,512,511,Stade Brestois 29,Toulouse FC,0.0,1,0,1,1,-1,-1,-1,-1

## Puissance-Teams

In [35]:
teams_puiss=pd.read_csv(r"Teams_puiss.csv",sep=";",index_col=0)
teams_puiss

          shortName                    name            name_web  puissance
0          Toulouse             Toulouse FC            Toulouse       1065
1             Brest       Stade Brestois 29               Brest       2156
2         Marseille  Olympique de Marseille  OlympiqueMarseille       4008
3       Montpellier         Montpellier HSC         Montpellier       3029
4             Lille               Lille OSC               Lille       4207
..              ...                     ...                 ...        ...
154      Feronikeli           KF Feronikeli                 NaN        100
155       Tre Penne            SP Tre Penne                 NaN        100
156  Ararat-Armenia       FC Ararat-Armenia      Ararat-Armenia        423
157       Saburtalo            FC Saburtalo           Saburtalo        244
158              HB                      HB                  HB         74

[144 rows x 4 columns]

In [36]:
def puissance(name,df):
    puiss=df["puissance"].loc[df["name"]==name]
    puiss=puiss.values
    if(puiss):
        return int(puiss)
    else:
        return 100

In [37]:
df_final['puissance_homeTeam']=df_final['homeTeam'].apply(lambda x: puissance(x,teams_puiss))
df_final['puissance_awayTeam']=df_final['awayTeam'].apply(lambda x: puissance(x,teams_puiss))
df_final

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  after removing the cwd from sys.path.

,id_match,date,idHomeTeam,idAwayTeam,homeTeam,awayTeam,score,goalHomeTeam_HalfTime,goalAwayTeam_HalfTime,goalHomeTeam_FullTime,goalAwayTeam_FullTime,win_cons_home,win_cons_away,lose_cons_home,lose_cons_away,puissance_homeTeam,puissance_awayTeam
0,267926,2019-08-09,548,523,AS Monaco FC,Olympique Lyonnais,2.0,0,2,0,3,-1,-1,-1,-1,2409,6154
1,267922,2019-08-10,516,547,Olympique de Marseille,Stade de Reims,2.0,0,0,0,2,-1,-1,-1,-1,4008,3054
2,267919,2019-08-10,518,529,Montpellier HSC,Stade Rennais FC 1901,2.0,0,1,0,1,-1,-1,-1,-1,3029,100
3,267923,2019-08-10,522,530,OGC Nice,Amiens SC,1.0,1,0,2,1,-1,-1,-1,-1,2803,2045
4,267924,2019-08-10,512,511,Stade Brestois 29,Toulouse FC,0.0,1,0,1,1,-1,-1,-1,-1,2156,1065
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1714,285542,2020-02-26,523,109,Olympique Lyonnais,Juventus FC,1.0,1,0,1,0,1,2,0,0,6154,9319
1715,285537,2020-03-10,95,102,Valencia CF,Atalanta BC,2.0,1,2,3,4,0,4,0,0,9770,7928
1716,285545,2020-03-10,721,73,RB Leipzig,Tottenham Hotspur FC,1.0,2,0,3,0,1,0,0,0,9221,6821
1717,285533,2020-03-11,524,4,Paris Saint-Germain FC,BV Borussia 09 Dortmund,1.0,2,0,2,0,2,2,0,0,9495,7276
1718,285539,2020-03-11,64,78,Liverpool FC,Club Atlético de Madrid,2.0,1,0,2,3,1,0,0,0,14695,9329

In [38]:
columns=["puissance_homeTeam","puissance_awayTeam",
         "win_cons_home","win_cons_away","lose_cons_home","lose_cons_away","score"]
df_final_data=df_final[columns]
df_final_data=df_final_data.dropna()
df_final_data

,puissance_homeTeam,puissance_awayTeam,win_cons_home,win_cons_away,lose_cons_home,lose_cons_away,score
0,2409,6154,-1,-1,-1,-1,2.0
1,4008,3054,-1,-1,-1,-1,2.0
2,3029,100,-1,-1,-1,-1,2.0
3,2803,2045,-1,-1,-1,-1,1.0
4,2156,1065,-1,-1,-1,-1,0.0
...,...,...,...,...,...,...,...
1714,6154,9319,1,2,0,0,1.0
1715,9770,7928,0,4,0,0,2.0
1716,9221,6821,1,0,0,0,1.0
1717,9495,7276,2,2,0,0,1.0
1718,14695,9329,1,0,0,0,2.0

In [39]:
df_final=df_final.dropna()

In [40]:
split=int(df_final.shape[0]/10)
df_test=df_final.tail(split)
df_test

,id_match,date,idHomeTeam,idAwayTeam,homeTeam,awayTeam,score,goalHomeTeam_HalfTime,goalAwayTeam_HalfTime,goalHomeTeam_FullTime,goalAwayTeam_FullTime,win_cons_home,win_cons_away,lose_cons_home,lose_cons_away,puissance_homeTeam,puissance_awayTeam
1582,278636,2019-08-06,851,842,Club Brugge KV,FK Dynamo Kyiv,1.0,1,0,1,0,-1,-1,-1,-1,8036,4168
1583,279611,2019-08-06,7283,1876,FK Crvena Zvezda,FC København,0.0,1,0,1,1,0,2,1,0,100,100
1584,278634,2019-08-07,5452,503,FK Krasnodar,FC Porto,2.0,0,0,0,1,-1,-1,-1,-1,5313,6206
1585,278632,2019-08-07,1897,654,Medipol Başakşehir FK,PAE Olympiakos SFP,2.0,0,0,0,1,-1,1,-1,0,100,6497
1586,278638,2019-08-07,729,2016,FC Basel 1893,LASK Linz,2.0,0,0,1,2,1,-1,0,-1,100,100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1714,285542,2020-02-26,523,109,Olympique Lyonnais,Juventus FC,1.0,1,0,1,0,1,2,0,0,6154,9319
1715,285537,2020-03-10,95,102,Valencia CF,Atalanta BC,2.0,1,2,3,4,0,4,0,0,9770,7928
1716,285545,2020-03-10,721,73,RB Leipzig,Tottenham Hotspur FC,1.0,2,0,3,0,1,0,0,0,9221,6821
1717,285533,2020-03-11,524,4,Paris Saint-Germain FC,BV Borussia 09 Dortmund,1.0,2,0,2,0,2,2,0,0,9495,7276
1718,285539,2020-03-11,64,78,Liverpool FC,Club Atlético de Madrid,2.0,1,0,2,3,1,0,0,0,14695,9329

In [41]:
df_train=pd.concat([df_final,df_test]).loc[df_final.index.symmetric_difference(df_test.index)]
df_train

,id_match,date,idHomeTeam,idAwayTeam,homeTeam,awayTeam,score,goalHomeTeam_HalfTime,goalAwayTeam_HalfTime,goalHomeTeam_FullTime,goalAwayTeam_FullTime,win_cons_home,win_cons_away,lose_cons_home,lose_cons_away,puissance_homeTeam,puissance_awayTeam
0,267926,2019-08-09,548,523,AS Monaco FC,Olympique Lyonnais,2.0,0,2,0,3,-1,-1,-1,-1,2409,6154
1,267922,2019-08-10,516,547,Olympique de Marseille,Stade de Reims,2.0,0,0,0,2,-1,-1,-1,-1,4008,3054
2,267919,2019-08-10,518,529,Montpellier HSC,Stade Rennais FC 1901,2.0,0,1,0,1,-1,-1,-1,-1,3029,100
3,267923,2019-08-10,522,530,OGC Nice,Amiens SC,1.0,1,0,2,1,-1,-1,-1,-1,2803,2045
4,267924,2019-08-10,512,511,Stade Brestois 29,Toulouse FC,0.0,1,0,1,1,-1,-1,-1,-1,2156,1065
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1577,278367,2019-07-31,611,1873,Qarabağ Ağdam FK,Dundalk FC,1.0,1,0,3,0,0,0,0,0,1054,195
1578,269514,2019-07-31,1876,1904,FC København,The New Saints FC,1.0,0,0,1,0,1,0,0,1,100,100
1579,279609,2019-08-06,752,611,APOEL FC,Qarabağ Ağdam FK,2.0,0,0,1,2,2,1,0,0,3270,1054
1580,278630,2019-08-06,6146,678,PAOK FC,AFC Ajax,0.0,2,1,2,2,-1,-1,-1,-1,3673,8164
1581,279225,2019-08-06,755,5954,GNK Dinamo Zagreb,Ferencvárosi TC,0.0,1,0,1,1,2,0,0,0,2478,1735

In [42]:
df_train.to_csv(r"Data_Train_Foot.csv", sep=";", encoding='utf-8',index='False')
df_test.to_csv(r"Data_Test_Foot.csv", sep=";", encoding='utf-8',index='False')